<form [formGroup]="timeTrackingForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="description?.invalid">Description is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hours</mat-label>
            <textarea matInput formControlName="hours"></textarea>
            <mat-error *ngIf="description?.invalid">Hours are required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Level</mat-label>
            <textarea matInput formControlName="level"></textarea>
            <mat-error *ngIf="description?.invalid">Level is required.</mat-error>
        </mat-form-field>

        

        <!--   // Cu titlu de exemplu vizual pentru cerinta de bonus din saptamana 5 - NU este functional.
 -->
        <!-- <mat-form-field appearance="fill" *ngFor="let num of nums">
            <mat-label>Subactivitate {{num}}:</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <button mat-raised-button (click)="deleteSubactivity(num)">Remove</button>
        </mat-form-field> -->

       <span><button mat-raised-button color="primary" type="submit" [disabled]="timeTrackingForm?.invalid">Update</button>
        <button mat-raised-button color="primary" [routerLink]="['/time-tracking']">Back to list</button>
       </span>
    </div>
</form>
